:root {
    --primary: #f71995;
    --secondary: #7B19F7;
    --light: #EEEEEE;
    --dark: #140e0e;
    --highlight: rgb(184, 255, 255);

}

h1 {
    color: blue;
}

.ho-line {
    width: 80%;
    height: 2px;
    background: var(--primary);
    margin: 10px auto;
    border-radius: 30px;
  }

.v-line {
    border-left: 2px solid var(--primary);
    height: 200px;
}


table.hovertable {
    border-collapse: collapse;
}

table.hovertable tr > td {
    padding: 1px 6px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

table.hovertable th {
    padding: 8px 4px;
}

table.hovertable tbody.center > tr > td {
    text-align: center;
}

table.hovertable tr:hover {
    background-color: var(--primary);
}

table.matchtable {
    padding: 0;
}