<div class="d-flex d-xl-block" style="text-align: center;">
  <legend>{% if cLeague.myFlavor.name != "none" %}{{cLeague.myFlavor}}{% endif %} {{cLeague.myDeck}}</legend>

</div>
<div class="d-flex d-xl-block" style="padding-bottom: 10px;">
  <table class="hovertable">
    <tr>
      <th>Match Win Percentage </th>
      <th>{{matchwinpercentage|floatformat:0}}%</th>
    </tr>
    <tr>
      <td>Played</td>
      <td>{{matchcount}}</td>
    </tr>
    <tr>
      <td>Won</td>
      <td>{{matcheswon}}</td>
    </tr>  
    <tr>
      <td>Lost</td>
      <td>{{matcheslost}}</td>
    </tr>  
  </table>
</div>

<div class="ho-line d-flex d-none d-xl-block"></div>
<div class="v-line d-block d-xl-none"></div>

<div class="d-flex d-xl-block">
 <table class="hovertable">
  <tr>
    <th style="width: 178px;">Completed Leagues:</th>
    <th>{{tleagues.count}}</th>
  </tr>

  <tr>
    <td>5-0s: </td>
    <td>{{ fiveohs }}</td>
  </tr>
  <tr>
    <td>4-1s: </td>
    <td>{{ fourones }}</td>
  </tr>
  <tr>
    <td>3-2s: </td>
    <td>{{ threetwos }}</td>
  </tr>
  <tr>
    <td>2-3s: </td>
    <td>{{ twothrees }}</td>
  </tr>
  <tr>
    <td>1-4s: </td>
    <td>{{ onefours }}</td>
  </tr>  
  <tr>
    <td>0-5s: </td>
    <td>{{ ohfives }}</td>
  </tr>  
</table> 
</div>