<div class="d-flex d-xl-block">
  <table class="hovertable">
    <tr>
      <th>Match Wins: </th>
      <th>{{matchwinpercentage|floatformat:0}}%</th>
    </tr>
    <tr>
      <td>Played</td>
      <td>{{matchcount}}</td>
    </tr>
    <tr>
      <td>Won</td>
      <td>{{matcheswon}}</td>
    </tr>  
    <tr>
      <td>Lost</td>
      <td>{{matcheslost}}</td>
    </tr>  
  </table>
</div>

<div class="ho-line d-flex d-none d-xl-block"></div>
<div class="v-line d-block d-xl-none"></div>

<div class="d-flex d-xl-block">
 <table class="hovertable">
  <th colspan="2">
    Completed Leagues:
  </th>
  <th>{{tleagues.count}}</th>
  <tr>
    <td>5-0s: </td>
    <td></td>
    <td>{{ fiveohs }}</td>
  </tr>
  <tr>
    <td>4-1s: </td>
    <td></td>
    <td>{{ fourones }}</td>
  </tr>
  <tr>
    <td>3-2s: </td>
    <td></td>
    <td>{{ threetwos }}</td>
  </tr>
  <tr>
    <td>2-3s: </td>
    <td></td>
    <td>{{ twothrees }}</td>
  </tr>
  <tr>
    <td>1-4s: </td>
    <td></td>
    <td>{{ onefours }}</td>
  </tr>  
  <tr>
    <td>0-5s: </td>
    <td></td>
    <td>{{ ohfives }}</td>
  </tr>  
</table> 
</div>