.stable {
    border-collapse: collapse;
    border: 3px solid var(--primary);
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  .stable thead {
    cursor: pointer;
  }
  
  .stable thead tr {
    border-radius: 8px;
    text-align: left;
    border-bottom: 1px solid var(--primary);
  }
  
  .stable th, .stable td {
      padding: 12px 15px;
  }
  
  .stable tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .stable tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
  }
  
  .stable tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary);
  }
  

  .stable thead th.active {
    color:var(--primary);
  }

