<tr>
    <td></td>
    <td>
      <label>Deck Name</label>
      {{ form.name }}
      {{ form.name.errors}}
    </td>
    <td>
      <label>Format</label>
      {{ form.mtgFormat }}
      {{ form.mtgFormat.errors }}
    </td>
    <td>
      <label>Archetype</label>
        {{ form.archetype }}
        {{ form.archetype.errors }}
    </td>
    <td>
      <label>Varient Name</label>
      {{ form.flavorname }}
    </td>
    <td>
      <label>Default?</label>
      {{ form.fisdefault }}
    </td>

    <td><a href="#" hx-post="{% url 'submit_new_deck' %}" hx-target="closest tr" hx-swap="outerHTML" hx-include="closest tr" class="me-3">Save</a>
      <a href="#" hx-get="{% url 'cancel_add_deck' %}" hx-target="closest tr" hx-swap="outerHTML"class="text-secondary">Discard</a>
    </td>
</tr>