{% load static %}
<table class="table table-hover stable">
    <thead>
        <th>Date <i class="bi bi-caret-down"></i></th>
        <th>Name <i class="bi bi-caret-down"></i></th>
        <th>Format <i class="bi bi-caret-down"></i></th>
        <th>Archetype <i class="bi bi-caret-down"></i></th>
        <th>Varient Modal <i></i></th>
        <th></th>
    </thead>
    <tbody>
        {% for deck in decks %}
            <tr>
                <td>{{ deck.dateCreated|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ deck.name }}</td>
                <td>{{ deck.mtgFormat }}</td>
                <td>{{ deck.archetype }}</td>
                <td>
                    <!-- MODAL HERE -->
                    <button hx-get="{% url 'flavorModal' deck.pk %}" hx-target="#vformModal" hx-trigger="click" data-bs-toggle="modal" data-bs-target="#vformModal" data-bs-whatever="{{deck.name}}" class="btn btn-primary">Varients of {{deck.name}} ({{ deck.flavors.count|add:"-1" }})</button>
                </td>
                <td>
                    <button class='btn' hx-get="{% url 'edit_deck' deck.pk %}" hx-target="closest tr" hx-swap="outerHTML"><i class="bi bi-pencil" style="font-size: 1.5rem"></i></svg></button>
                    <button class='btn' hx-confirm='Are you Sure?' hx-target="closest tr" hx-swap="outerHTML swap:1s" hx-delete="{% url 'delete_deck' deck.pk %}"><i class="bi bi-trash3" style="font-size: 1.5rem"></i></button>
                </td>
            </tr>

        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="vformModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Varients of</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
            <table class="table">
                <tbody>
                    {% for flavor in deck.flavors.all %}
                        {% if flavor.name != "none" %}
                            <tr>
                                {% if flavor.isdefault %}
                                <td>
                                    <strong>{{flavor.name}}</strong>
                                </td>
                                {% else %}
                                
                                <td>
                                    
                                        {{flavor.name}}
                                </td>
                                {% endif %}
                                <td>
                                    <button class='btn' hx-get="{% url 'edit_flavor' flavor.pk %}" hx-target="closest tr" hx-swap="outerHTML"><i class="bi bi-pencil"></i></button>
                                    <button class='btn' hx-confirm='Are you Sure?' hx-target="closest tr" hx-swap="outerHTML swap:1s" hx-delete="{% url 'delete_flavor' flavor.pk %}"><i class="bi bi-trash3"></i></button>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>



<script>
    var exampleModal = document.getElementById('vformModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var recipient = button.getAttribute('data-bs-whatever')
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        var modalTitle = exampleModal.querySelector('.modal-title')
        var modalBodyInput = exampleModal.querySelector('.modal-body input')

        modalTitle.textContent = 'Varients of ' + recipient
        modalBodyInput.value = recipient
    })

</script>

<script src="{% static 'tablesearchsortx.js' %}"></script>