<tr>
    <td></td>
    <td>{{ form.name }}
        {{ form.name.errors}}
    </td>
    <td>{{ form.mtgFormat }}
        {{ form.mtgFormat.errors }}
    </td>
    <td>
        {{ form.archetype }}
        {{ form.archetype.errors }}
    </td>
    <td><a href="#" hx-post="{% url 'edit_deck_submit' deck.pk %}" hx-target="closest tr" hx-swap="outerHTML" hx-include="closest tr" class="me-3"><i class="bi bi-check2" style="font-size: 1.6rem;"></i></a>
        <a href="#" hx-get="{% url 'edit_deck_submit' deck.pk %}" hx-target="closest tr" hx-swap="outerHTML"><i class="bi bi-x-lg" style="font-size: 1.4rem;"></i></a>
    </td>
</tr>