<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Varients of {{deck.name}}</h5>
      </div>
      <div class="modal-body">
        <table class="table">
            <tbody>
                {% for flavor in deck.flavors.all %}    
                    {% if flavor.name != "none" %}
                        <tr>
                            {% if flavor.isdefault %}
                            <td>
                                <strong>{{flavor.name}}</strong>
                            </td>
                            {% else %}
                            
                            <td>
                                
                                    {{flavor.name}}
                            </td>
                            {% endif %}
                            <td>
                                <button class='btn' hx-get="{% url 'edit_flavor' flavor.pk %}" hx-target="closest tr" hx-swap="outerHTML"><i class="bi bi-pencil"></i></button>
                                <button class='btn' hx-confirm='Are you Sure?' hx-target="closest tr" hx-swap="outerHTML swap:1s" hx-delete="{% url 'delete_flavor' flavor.pk %}"><i class="bi bi-trash3"></i></button>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
      </div>
      
      <div class="modal-footer">
        <button class='btn btn-primary' hx-get="{% url 'add_varient' deck.pk %}" hx-target="previous tbody" hx-swap="afterbegin">Add New Varient
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>